html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
  }

.title-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0;
}

.container {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
    width: 20em;
    height: auto;
    border: solid white 3px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3em;
    width: 100%;
    box-sizing: border-box;
}

.row--display {
    padding: 0;
    height: 5em;
}

.item {
    display: flex;   
    flex: 1;
    min-height: 2.5em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 0;
    margin: .3em;
}

.display {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: right;
    align-self: center;
    border: 0;
    padding: 0;
    background-color: black;
    color: greenyellow;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
    font-weight: bolder;
    margin: .3em;
    padding: .3em;
    min-height: 1.5em;
    border:solid darkgray 5px;
}

.button {
    background-color: rgb(34, 33, 33);
    text-align: center;
    color: white;
    border-radius: 50%;
    border-color: white;
    height: 60px;
    width: 60px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.button--operator {
    background-color: orange;
    color: black;
}

.button--clear {
    background-color: gray;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 1em;
}