html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
  }

.title-bar {
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    text-align: center;
    width: 20em;
    height: auto;
    border: solid white 3px;
    color: white;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 3em;
    gap: .2em;
    padding: .5em;
}

.row--display {
    padding: 0;
}

.item {
    display: flex;
    text-align: center;
    background-color: rgb(34, 33, 33);
    color: white;
    flex: 1;
    min-height: 2.5em;
    align-items: center;
    justify-content: center;
    border: solid white 1px;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
    padding: .5em;
    margin-left: .2em;
    margin-right: .2em
}

.item--operator {
    background-color: orange;
    font-weight: bolder;
}

.item--clear {
    background-color: gray;
}

.display {
    height: 3em;
    align-self: center;
    justify-content: center;
    border: 0;
    padding: 0;
    background-color: black;
}

.footer {
    background-color: white;
}